# Node.js dependencies
node_modules/
dist/

# Angular-specific cache/build artifacts
.angular/

# Python virtual environment
.venv/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Misc / Temporary files
*.log
*.bak
*.tmp
